{% extends "base.html" %}
{% block content %}

{% from "macros/_formhelpers.html" import render_naked_field %}

<style>
    .input-group {
        padding-bottom: 10px;
        width: 100%
    }
</style>

<div id="register"><h2 class="text-center login-header">Register your StuffExchange Account</h2></div>

<div class="row">
    <div class="well col-xs-4 col-xs-offset-4">
        <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form"
              accept-charset="UTF-8">
            <div class="input-group">
                {{ register_user_form.hidden_tag() }}
                {{ render_naked_field(register_user_form.username, class_="form-control", placeholder="Username",
                type="text") }}
            </div>
            <div class="input-group">
                {{ render_naked_field(register_user_form.email, class_="form-control", placeholder="Email",
                type="text") }}
            </div>
            <div class="input-group">
                {{ render_naked_field(register_user_form.password, class_="form-control", placeholder="Password",
                type="password") }}
            </div>
            {% if register_user_form.password_confirm %}
            <div class="input-group">
                {{ render_naked_field(register_user_form.password_confirm, class_="form-control", placeholder="Confirm Password",
                type="password") }}
            </div>
            {% endif %}
            <div class="input-group">

                {{ render_naked_field(register_user_form.terms) }}
                I Accept the Terms of Service
            </div>

            <div class="input-group">
                {{ render_naked_field(register_user_form.submit, class_="form-control") }}
            </div>

        </form>
    </div>
</div>


{% endblock %}
