@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Slabo+27px');

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(220,220,220,.2);
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

#main {
  align-items: center;
  margin-top: 8%;
}

.form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(230,230,230);
  color: rgba(94, 90, 98, 1);
  outline: none;
}

#categories {
  color: gray;
  width: 12em;
  outline: none;
}

.header {
  color: #666699;
  font-size: 1.6em;
}

.site-title {
  font-size: 2em;
  color: #666699;
  padding-right: 1em;
  font-family: 'Slabo 27px', serif;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  font-size: 1.5em;
  border-bottom: 3px solid rgba(94, 90, 98, 1);
  background-color: white;
}

.navbar-form {
  /* width: 100%; */
}

.nav-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-item, .search {
  color: #8585ad;
  padding-left: .4em;
  padding-right: .4em;
}

.noresults {
  text-align: center;
  margin-top: 15%;
}

a {
  transition: .5s;
}

.categories {
  justify-content: center;
  text-align: center;
  background-color: white;
  border: 3px solid rgba(94, 90, 98, 1);
  width: 30%;
  margin: auto;
}

.categories-list {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 1em;
  font-size: 2em;
}

.frame {
  margin: 1em;
  border: 3px solid rgba(94, 90, 98, 1);
  background-color: white;
}

.form-container .frame, .container .frame {
  padding: 1em;
}

.listings .frame {
  padding: 1em;
}

.site-title:hover, .category {
  color: #666699;
}

.nav-item:hover, .category:hover {
  color: #333377;
}

.col-centered {
  display: inline-block;;
  float: none;
  /* reset the text-align */
  text-align: middle;
  /* inline-block space fix */
  vertical-align: middle;
}

.form-group {
  background-color: white;
}

th {
  color: #666699;
  background-color: white;
  font-size: 1.2em;
}

table, .table {
  border: 3px solid rgba(94, 90, 98, 1);
  margin-bottom: 0;
}

thead, thead>tr:hover {
  font-size: 1.2em;
  cursor: default;
}

tbody {
  background-color: white;
}

tr, td {
  color: #666699;
  font-size: 1.2em;
}

tr:hover {
  cursor: pointer;
}

.form {
  display: inline-block;
  margin: auto;
  justify-content: center;
  font-size: 1.5em;
  background-color: white;
  padding: 2em;
  border: 3px solid rgba(94, 90, 98, 1);
}

.form-control,.form-control:focus {
  font-size: .8em;
  cursor: pointer;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
}

option {
  font-size: 1em;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:focus, a:active {
  text-decoration: none;
}

.post-btn {
  font-size: 1em;
  width: 100%;
  margin: auto;
  border: 3px solid rgba(94, 90, 98, 1);
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
   outline: 0;
}

/************* PROFILE *************/
.profile {
  border: 3px solid rgba(94, 90, 98, 1);
}

.profile-listing p {
  display: inline-block;
}

.profile .frame {
  margin-left: 0;
  margin-right: 0;
}

#profile-image-container {
  width: 85%;
}

#profile-image-container .frame {
  padding: 1em;
}

#profile-image {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  border: 3px solid rgba(94, 90, 98, 1);
}
