body {
  font-family: Volkorn;
  background-color: white;
}

.container-fluid * {
  background-color: #99ccff;
  color: gray;
  font-size: 1.15em;
}

li > a:hover {
  transition-delay: .15s;
  font-size: 1.2em;
}

.categories-grid {
  background-color: white;
  justify-content: center;
  text-align: center;
}

.col-md-4 {
  text-align: center;
  background-color: lightgray;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
  margin: 1em;
  color: white;
  font-size: 3em;
}

.col-centered {
  display: inline-block;;
  float: none;
  /* reset the text-align */
  text-align: middle;
  /* inline-block space fix */
  vertical-align: middle;
}
