html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bookman";
  background-color: rgba(200,150,240,.1);
  margin: 0;
  padding: 0;
  width: 100%;
}

#main {
  align-items: center;
  margin-top: 8%;
}

.form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(230,230,230);
  color: darkgray;
  outline: none;
}

#categories {
  color: gray;
  width: 12em;
  outline: none;
}

.header {
  color: #666699;
  font-size: 1.6em;
  text-align: center;
}

.site-title {
  font-size: 2em;
  color: #666699;
  padding-right: 1em;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0;
  padding-top: .2em;
  font-size: 1.5em;
  border-bottom: 1px solid rgb(230,230,230);
}

.navbar-form {
  /* width: 100%; */
}

.nav-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-item {
  color: #8585ad;
  padding-left: .4em;
  padding-right: .4em;
}

.categories-grid {
  justify-content: center;
  text-align: center;
}

.col-md-4 {
  text-align: center;
  /* background-color: #fcfcfc; */
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 1em;
  font-size: 2em;
  /* box-shadow: 8px 12px 8px 0px #999; */
}

.category {
  color: #666699;
}

.col-centered {
  display: inline-block;;
  float: none;
  /* reset the text-align */
  text-align: middle;
  /* inline-block space fix */
  vertical-align: middle;
}

.form-group {
  background-color: white;
}

th {
  color: #666699;
  background-color: white;
  font-size: 1.2em;
}

table {
  border-style: solid;
  border-radius: 2px;
}

tr, td {
  background-color: #f0f0f5;
  color: #666699;
  font-size: 1.1em;
}

.form {
  display: inline-block;
  margin-left: 5em;
  margin-right: auto;
  width: 60%;
}

img {
  float: none;
  margin: 5em;
  margin-bottom: 13em;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
