<!DOCTYPE html>
<html>
  <head>
    <title>Don't Steal</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div style="padding: 1.2em;" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!--<li><img href="../static/img/fox.png" width="10" height="10"></li>-->
              <li><a style="font-size: 2.2em; color: #666699;" href="{{ url_for('index') }}">Don't Steal <span style="color: #8585ad; font-size: 1em;"> . . . Just Borrow</span></a></li>
              <li><a style="color: white;" href="{{ url_for('index') }}">Home</a></li>
              <li><a style="color: white;" href="#">Profile</a></li>
            </ul>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input style="background-color: white;" type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" style="background-color: white;" class="btn btn-default btn-med"><span class="glyphicon glyphicon-search" aria-hidden="true" style="background-color: white; color: darkgrey"></span></button>
            </form>
            <ul class="nav navbar-nav">
              <li><a style="color: white;" href="#">Logout</a></li>
            </ul>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div><!-- /.container-fluid -->
        </nav>
      <div class="row">
        {% block content %}{% endblock %}
      </div>
      <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
    </body>
</html>
