{% extends "base.html" %}
{% block content %}
<div class="listings container">
   <h2 class="header">{{ numOfListings }} listings found for the  {{ category_name }} category:</h2>
   <div class="frame">
     <table class="table table-hover">
       <thead>
         <tr>
           <th> Seller </th>
           <th> Buyer </th>
           <th> Transaction Title </th>
           <th> Category </th>
           <th> Cost </th>
           <th> Date Listed </th>
         </tr>
       </thead>
       <tbody>
         {% for listing in listings %}
         <tr>
           <td> {{ listing.seller_id }}</td>
           <td> {{ listing.buyer_id }} </td>
           <td> {{ listing.title }} </td>
           <td> {{ listing.category }} </td>
           <td> {{ listing.cost }} </td>
           <td> {{ listing.date_listed }} </td>
         </tr>
         {% endfor %}
       </tbody>
     </table>
   </div>
  </div>

{% endblock %}

{% macro render_pagination(pagination) %}
<div class=pagination>
    {%- for page in pagination.iter_pages() %}
    {% if page %}
    {% if page != pagination.page %}
    <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
    {% else %}
    <strong>{{ page }}</strong>
    {% endif %}
    {% else %}
    <span class=ellipsis>…</span>
    {% endif %}
    {%- endfor %}
    {% if pagination.has_next %}
    <a href="{{ url_for_other_page(pagination.page + 1)
    }}">Next &raquo;</a>
    {% endif %}
</div>
{% endmacro %}
