{% extends "base.html" %}
{% block content %}
<h1>{{ numOfListings }} listings found for the  {{ category_name }} category!</h1>
<div class="container">
    <h2>Hover Rows</h2>
    <p>The .table-hover class enables a hover state on table rows:</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th> seller_id </th>
                <th> buyer_id </th>
                <th> title </th>
                <th> category </th>
                <th> cost </th>
                <th> date_listed </th>
            </tr>
        </thead>
        <tbody>
            {% for listing in listings %}
            <tr>
                <td> {{ listing.seller_id }}</td>
                <td> {{ listing.buyer_id }} </td>
                <td> {{ listing.title }} </td>
                <td> {{ listing.category }} </td>
                <td> {{ listing.cost }} </td>
                <td> {{ listing.date_listed }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
