{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="categories-grid">
      <div class="col-md-4 col-centered">
        <a class="category" href="/categories/Kitchenware"><div>Kitchenware</div></a>
        <a class="category" href="categories/Books"><div>Books</div></a>
        <a class="category" href="/categories/Games"><div>Games</div></a>
        <a class="category" href="categories/Tools"><div>Tools</div></a>
      </div>
    </div>
  </div>
{% endblock %}
