{% extends "base.html" %}
{% block content %}
  <div class="container">
    <span class="categories-grid">
      <div class="row">
        <a href="/categories/Kitchenware"><div class="col-md-4 col-centered">Kitchenware</div></a>
        <a href="categories/Books"><div class="col-md-4 col-centered">Books</div></a>
      </div>
      <div class="row">
        <a href="/categories/Games"><div class="col-md-4 col-centered">Games</div></a>
        <a href="categories/Tools"><div class="col-md-4 col-centered">Tools</div></a>
      </div>
    </span>
  </div>
{% endblock %}
