{% extends "base.html" %}
{% block content %}
  <div class="listing container">
    <div class="frame">
      <div class="container">
        <h1 class="header">{{ listing.title }}</h1>
        {% if current_user.id == listing.owner_id %}
          <p>Cost: {{ listing.cost }} points</p>
          <p>This is your listing.</p>
        {% elif listing.borrower_id %}
          {% if listing.borrower_id == current_user.id %}
            <p>You are currently borrowing this item from <a href="/profile/{{ listing.owner_id }}">{{ listing.owner_username }}</a>.</p>
            <form method="POST" action="/return?borrower_id={{ current_user.id }}&owner_id={{ listing.owner_id }}&listing_id={{ listing.id }}">
              <button class="btn post-btn" type="submit">Return</button>
            </form>
          {% else %}
            <p>This listing is currently unavailable.</p>
          {% endif %}
        {% else %}
          <p>Cost: {{ listing.cost }} points</p>
          <p>Owned by <a href="/profile/{{ listing.owner_id }}">{{ listing.owner_username }}</a></p>
          {% if current_user.points >= listing.cost %}
          <p>You have enough points!</p>
          <form method="POST" action="/borrow?borrower_id={{ current_user.id }}&owner_id={{ listing.owner_id }}&listing_id={{ listing.id }}">
            <button class="btn post-btn" type="submit">Borrow</button>
          </form>
          {% else %}
          <p>You don't have enough points for this item!</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
