{% extends "base.html" %}
{% block content %}
  <div class="listing container">
    <div class="frame">
      <div class="container">
        <h1 class="header">{{ listing.title }}</h1>
        {% if current_user.id == listing.owner_id %}
          <p>This is your item.</p>
        {% else %}
          {% if current_user.points > listing.cost %}
          <p>You have enough points!</p>
          {% else %}
          <p>You don't have enough points for this item!</p>
          {% endif %}
        {% endif %}
        <p>Cost: {{ listing.cost }} points</p>
      </div>
    </div>
  </div>
{% endblock %}
