{% extends "base.html" %}
{% block content %}
  <div class="listing container">
    <div class="frame">
      <div class="container">
        <h1 class="header">{{ listing.title }}</h1>
        <p>Cost: {{ listing.cost }} points</p>
        {% if current_user.id == listing.owner_id %}
          <p>This is your item.</p>
        {% else %}
          <p>Owned by <a href="/profile/{{ listing.owner_id }}">{{ listing.owner_username }}</a></p>
          {% if current_user.points >= listing.cost %}
          <p>You have enough points!</p>
          <button class="btn post-btn" type="submit">Borrow</button>
          {% else %}
          <p>You don't have enough points for this item!</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
