{% extends "base.html" %}
{% block content %}
  <form class="form-signin form" action="/newPost" method="post" role="form">
    <h2 class="form-signin-heading">Create a New Listing</h2>
      <input type="email" name="username" class="form-control" placeholder="Title" required autofocus>
      <input type="password" name="password" class="form-control" placeholder="Value" required>
      <button class="btn btn-lg btn-primary btn-block" type="button">Post </button>
    </form>
    <img src="../static/img/fox.png" width="200" height="150" alt="Don't Steal... Just Borrow">
{% endblock %}
