{% extends "base.html" %}
{% block content %}
  <form class="form-signin form" action="/newPost" method="post" role="form">
    <h2 class="form-signin-heading" style="color: #666699">Create a New Listing</h2>
      <input type="email" name="Title" class="form-control" placeholder="Title" required autofocus
      style="box-shadow: 4px 6px 4px 0px #999;">
      <input type="password" name="Value" class="form-control" placeholder="Value" style="box-shadow: 4px 6px 4px 0px #999;" required>
      <br>
      <button class="btn btn-lg btn-primary btn-block" style="background-color: #99ccff; border: none; box-shadow: 4px 6px 4px 0px #999;" type="button">Post </button>
    </form>
    <img src="../static/img/fox.png" width="200" height="150" alt="Don't Steal... Just Borrow" style="box-shadow: 4px 6px 4px 0px #999;">
    <script type="text/javascript">
      $(function('button').click(function() {
        var title = $('#txtTitle')
      })
    </script>
{% endblock %}
