{% extends "base.html" %}
{% block content %}
  <div class="profile container">
    <div class="frame">
      <div class="container">
        <div class="col-md-4">
          <h1 class="header">{{ user.name }}</h1>
          <h4>{{ user.username }}</h4>
          <div id="profile-image-container">
            <div class="frame">
              <img id="profile-image" src="../static/img/mrbean.jpeg" alt="Mr. Bean" width="120" />
            </div>
          </div>
        </div>
        <div class="profile-listings col-md-4">
          <h2 class="header">Lending</h2>
          {% for listing in listings %}
          <div class="profile-listing">
            <span>{{ listing.title }}<span><span> on {{ listing.date_listed|datetime('full') }}</span>
          </div>
        {% endfor %}
        </div>
        <div class="profile-listings col-md-4">
          <h2 class="header">Borrowed</h2>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <p>
              {% for message in messages %}
              <span style="color: #666699;">{{ message }}</span>
              {% endfor %}
          </p>
          {% endif %}
          {% endwith %}
          {% for borrow in borrows %}
          <div class="profile-listing">
            <!-- Replace date_listed with date_borrowed -->
            <span>{{ borrow.title }}<span><span> on {{ borrow.date_borrowed|datetime('full') }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
